:root{
  --header-color: rgb(122, 138, 174);
  --light: white;
  --line-break: rgb(64, 64, 64);
  --dark: rgb(15 54 69);
  --hover-dark: rgb(26, 90, 116);
  --black: black;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
}

body{
  background-color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  margin-left: 25px;
}

p{
  /* font-size: small; */
  color: var(--black);
}

/* Styling for my name */
.title {
  color: var(--light);
}

/* Styling for navbar */
header{
  width: 100%;
  z-index: 1;
  background-color: var(--dark);
}

/* Background image for header */
.title-name {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  /* background-image: url("../src/images/pexels-eberhard-grossgasteiger-2086271.jpg"); */
  text-align: center;
  background: linear-gradient(to right, var(--dark) 0%, var(--light) 100%);
  font-weight: bold;
  color: white;
  /* background-position-y: 100%; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* background-color: white;Displays a blank white image if the picture does not appear */
}

/* Image on aboutme page */
#profile-pic{
  position: relative;
  bottom: 0%;
  border: var(--dark) solid 5px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 25px;
  background-image: url("../src/images/IMG_6790.JPG");
  background-color: white;
  background-size: cover;
  background-position: 60%; 
}

/* p tag for about me description */
.about-me-desc{
  font-family: 'Montserrat', sans-serif;
  font-size:larger;
}

/* Styling for title of each page */
h1.title {
  color: var(--dark);
}


.nav-tabs {
  color: var(--light);
}

/* Styling for contact page */
button.submitBtn {
  background: var(--dark);
  color: white;
}

button.submitBtn:hover {
  background-color: var(--hover-dark);
}

/* Styling for the list items on resume page */
main.resume ul li {
  display: block;
}

a:link {
  text-decoration: none;
}

/* Styling for portfolio page list of programs used */
span.programs{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:x-small;
  color: var(--light);
}

/*Image styling for applications*/
img.application{
  height: 200px;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/*Actions when user hovers over a portfolio project*/
img:hover{
  filter: brightness(125%);
  /* filter: blur(5px); */
  transition: 0.6s;
}

/* Styling for container holding all projects */
div.projects{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

/*Sizing and spacing for each individual application in the work section*/
div.projects figure{
  width:48.7%;
  margin: 3px 3px 15px 0px;
}

/* Styling for the title of a project application */
figure h2{
  background-color: var(--dark);
  color: var(--light);
  padding: 5px 5px 5px 5px;
  position: absolute;
  bottom: 15px;
  left: 0px;
}

/* Styling for a single project container */
figure{
  margin: 0px;
  position: relative;
  border: var(--dark) solid 10px;
  border-width: medium;
}

/*---Footer Section---*/

/*Styling and spacing for the contact section*/
div.personal-info{
  border-left: 2px solid var(--line-break);
  padding-left: 20px;
  padding-top: 1.5%;
  width: 100%;
  border-width: medium;
}

/*Styling for the links*/
div.personal-info a{
  color: var(--light);
  text-align: center;
}

div.personal-info a:hover{
  color: gray;
}

/*Spacing for the different links*/
div.personal-info ul{
  display: flex;
  justify-content: space-evenly;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--dark);
}
